<div class="flex justify-center items-center font-[sans-serif] h-full min-h-screen p-4">
  <div class="max-w-md w-full mx-auto">
    <form
      class="bg-opacity-70 bg-white rounded-2xl p-6 shadow-[0_2px_16px_-3px_rgba(6,81,237,0.3)]"
      (ngSubmit)="onSubmit()"
    >
      <div class="mb-12">
        <h3 class="text-gray-800 text-3xl font-extrabold">Sign in</h3>
      </div>

      <div>
        <div class="relative flex items-center">
          <input
            name="email"
            id="email"
            type="email"
            [(ngModel)]="user.email"
            required
            class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 px-2 py-3 outline-none placeholder:text-gray-800"
            placeholder="Enter email"
          />
          <!-- Email Icon -->
        </div>
      </div>

      <div class="mt-6">
        <div class="relative flex items-center">
          <input
            type="password"
            id="password"
            [(ngModel)]="user.password"
            required
            class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 px-2 py-3 outline-none placeholder:text-gray-800"
            placeholder="Enter password"
          />
          <!-- Password Icon -->
        </div>
      </div>

      <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 shrink-0 border-gray-300 rounded"
          />
          <label for="remember-me" class="ml-3 block text-sm text-gray-800">
            Remember me
          </label>
        </div>
        <div>
          <a
            href="javascript:void(0);"
            class="text-blue-600 text-sm font-semibold hover:underline"
          >
            Forgot Password?
          </a>
        </div>
      </div>

      <div class="mt-12">
        <button
          type="submit"
          style="background-color: rgba(118, 89, 146, 0.795)"
          class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded-full text-white bg-gray-800 hover:bg-[#222] focus:outline-none"
        >
          Sign in
        </button>
        <p class="text-gray-800 text-sm text-center mt-6">
          Don't have an account?
          <a
            [routerLink]="['/registerlogin']"
            routerLinkActive="active"
            class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap"
            >Register here</a
          >
        </p>
      </div>

      <hr class="my-6 border-gray-400" />

      <div class="space-x-8 flex justify-center">
        <!-- Social Media Buttons -->
      </div>
    </form>
  </div>
</div>
