<div class="flex justify-center items-center font-[sans-serif] h-full min-h-screen p-4">
  <div class="max-w-md w-full mx-auto">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="bg-opacity-70 bg-white rounded-2xl p-6 shadow-[0_2px_16px_-3px_rgba(6,81,237,0.3)]">
      <div class="mb-12">
        <h3 class="text-gray-800 text-3xl font-extrabold">Register</h3>
      </div>

      <div>
        <div class="relative flex items-center">
          <input type="text" id="username" [(ngModel)]="user.username" name="username" required
            class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 px-2 py-3 outline-none placeholder:text-gray-800"
            placeholder="Enter username" />
        </div>
      </div>

      <div class="mt-6">
        <div class="relative flex items-center">
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required
            class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 px-2 py-3 outline-none placeholder:text-gray-800"
            placeholder="Enter email" />
        </div>
      </div>

      <div class="mt-6">
        <div class="relative flex items-center w-full">
          <input type="password" id="password" [(ngModel)]="user.password" name="password" required minlength="6" #password="ngModel"
            class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 px-2 py-3 outline-none placeholder:text-gray-800"
            placeholder="Enter password" />
        </div>
        <div *ngIf="password.invalid && password.touched" class="text-red-600 text-xs mt-1">
          Password must be at least 6 characters long.
        </div>
      </div>

      <div class="mt-12">
        <button type="submit" [disabled]="registerForm.invalid"
          class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded-full text-white bg-gray-800 hover:bg-gray-700 focus:outline-none" style="background-color: #FF9800;">
          Register
        </button>
      </div>

      <p class="text-gray-800 text-sm text-center mt-6">Already have an account?
        <a [routerLink]="['/login']" class="text-blue-600 font-semibold hover:underline">Login here</a>
      </p>

      <p *ngIf="message" class="text-center text-sm font-semibold mt-4" [ngClass]="{'text-green-600': message.includes('successful'), 'text-red-600': message.includes('failed')}">
        {{ message }}
      </p>
      <hr class="my-6 border-gray-400" />

      <div class="space-x-8 flex justify-center">
        <button type="button" class="border-none outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="30px" class="inline" viewBox="0 0 512 512">
            <path fill="#fbbd00" d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z"/>
            <path fill="#0f9d58" d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z"/>
            <path fill="#31aa52" d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z"/>
          </svg>
        </button>
        <button type="button" class="border-none outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="30px" class="inline" viewBox="0 0 32 32">
            <path fill="#1d9bf0" d="M32 7.075a13.141 13.141 0 0 1-3.769 1.033 6.588 6.588 0 0 0 2.888-3.632 13.165 13.165 0 0 1-4.169 1.594A6.563 6.563 0 0 0 22.155 4a6.563 6.563 0 0 0-6.563 6.563c0 .513.057 1.012.168 1.492A18.635 18.635 0 0 1 2.23 5.556a6.563 6.563 0 0 0 2.03 8.751A6.534 6.534 0 0 1 1.28 13.5v.083a6.563 6.563 0 0 0 5.263 6.435 6.587 6.587 0 0 1-1.727.23 6.15 6.15 0 0 1-1.235-.118 6.565 6.565 0 0 0 6.128 4.556 13.159 13.159 0 0 1-8.15 2.809c-.53 0-1.053-.031-1.569-.092A18.56 18.56 0 0 0 10.064 28C21.835 28 28.357 17.244 28.357 8.172c0-.283-.007-.566-.02-.847A13.082 13.082 0 0 0 32 7.075z"/>
          </svg>
        </button>
      </div>

    </form>
  </div>
</div>
